/* Reset des marges et paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style de base pour le corps de la page */
body {
  font-family: Arial, sans-serif;
  background-color: #272727;
  color: #ffffff; 
}

/* Style pour le conteneur principal */
.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px; 
}

/* Style pour l'en-tête */
.App-header {
  background-color: #000000;
  padding: 20px;
  text-align: center; 
  color: #fff; 
}

/* Style pour les liens de navigation */
nav ul {
  list-style-type: none;
  margin-top: 10px; 
}

nav ul li {
  display: inline; 
  margin-right: 10px; 
}

nav ul li a {
  text-decoration: none; 
  color: #fff; 
  padding: 5px 10px; 
  border-radius: 5px; 
  background-color: #000000; 
}

nav ul li a:hover {
  background-color: #000000; 
}

/* Style pour le contenu principal */
.content {
  padding: 20px;
  background-color: #fff; 
  border-radius: 5px; 
}

/* Style pour le formulaire */
.form {
  padding-top: 5%;
  max-width: 800px;
  margin: auto; 
  background-color: #272727;
  color: rgb(255, 255, 255);
}

/* Style pour les boutons */
.button {
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  background-color: #3300b3; 
  color: rgb(255, 255, 255); 
  cursor: pointer; 
}

.button:hover {
  background-color: #3300b3;
}

link {
  color: rgb(255, 255, 255);
}